html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Arial", "Helvetica", "san-serif";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #2b2e37;
}

.center {
  margin: auto;
  text-align: center;
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

#top h1 {
  font-size: 3rem;
  line-height: 9vh;
}

#top h2 {
  font-size: 1.5rem;
}

#top hr {
  width: 32%;
  display: block;
  border: solid 1px #06c1fc;
}

#top .btn-contact {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4vh;
}

#top .btn-contact a {
  margin: auto;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3vh 7vw;
}

#bottom .footer-menu {
  height: 23%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  display: flex;
  padding-top: 85vh;
}

#bottom a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
}

#bottom .menu {
  margin: auto;
}

footer {
  color: white;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer small {
  font-size: 1.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

header {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header h2 {
  color: white;
  line-height: 15vh;
  font-size: 1.8rem;
  padding-left: 20vh;
}

#lets {
  height: 60vh;
  background-color: white;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#lets .wrap {
  margin: auto;
}

#lets .wrap .icon .far {
  width: 5vw;
  height: 5vh;
  display: inline-block;
  font-weight: 400;
}

#lets .wrap h1 {
  width: 100%;
  height: 5vh;
  font-size: 1.5rem;
}

#lets .wrap p {
  width: 40%;
  height: 10vh;
  margin: auto;
  line-height: 1.8rem;
  color: #8d8d8d;
  padding-top: 3vh;
  font-size: 1rem;
}

#contact {
  height: 100vh;
  background-color: #f0f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .wrap-container {
  height: 50%;
  width: 60%;
  margin: auto;
}

#contact h1 {
  font-size: 1.5rem;
  padding-bottom: 5vh;
}

#contact .container {
  background-color: white;
  width: 70%;
  margin: auto;
  height: auto;
}

#contact .container .padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95%;
  width: 93%;
  opacity: 0.7;
  padding-bottom: 2vh;
}

#contact .container .padding input {
  border: none;
  border-bottom: solid 1px rgba(3, 3, 3, 0.4);
  padding-top: 2rem;
  font-size: 1rem;
}

#contact .container .padding textarea {
  resize: none;
  height: 20vh;
  font-size: 1rem;
}

#contact .container .padding .textlines {
  margin-top: 1rem;
  padding-left: 0.6rem;
  line-height: 2rem;
}

.contact-footer {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.contact-footer .contact-menu {
  height: 23%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  display: flex;
  padding-top: 5vh;
}
/*# sourceMappingURL=style.css.map */