html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #161a21;
}

.section {
  height: 100vh;
  display: flex;
  color: white;
}

#top {
  height: 80vh;
  .header_corner {
    position: relative;
  }
  .center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 42px;
      line-height: 1.2em;
      letter-spacing: 4px;
      font-weight: 600;
    }
    .anime {
      display: block;
      animation: anime1 1.5s ease;
      position: relative;
      animation-delay: 0.5s;
      h2 {
        font-size: 16px;
        letter-spacing: 2px;
        padding: 0.6rem;
      }
      hr {
        width: 15%;
        display: block;
        border: solid 1px #06c1fc;
      }
    }
    @keyframes anime1 {
      0% {
        opacity: 0;
        top: 30px;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }
    .btn-contact {
      height: 10vh;
      display: flex;
      margin-top: 7vh;
      position: relative;
      animation: anime2 1.5s ease;
      animation-delay: 2s;
      a {
        margin: auto;
        color: white;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 5px;
        padding: 3vh 4vw;
        &:hover {
          border: 1px solid #06c1fc;
          transition: all 0.5s;
        }
      }
    }
    @keyframes anime2 {
      0% {
        opacity: 0;
        top: 30px;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }
  }
}

#main {
  height: 250vh;
  .main-background {
    position: relative;
    top: -8%;
    .hexagon-contents {
      position: absolute;
      top: 34%;
      width: 100%;
      .hexagon_relative {
        position: relative;
        width: 100%;
        height: 80vh;
      }
    }
  }
}

////////////////////hexagons//////////////

.hexagon {
  position: absolute;
  width: 15%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 75% 50%;
  &.active {
    transition: all 0.3s;
    transform: scale(3);
    z-index: 1000;
  }
}
.hexagon::before {
  display: block;
  padding-top: 86.602540378%;
  content: "";
}
.hexagon_japan {
  position: absolute;
  width: 15%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0);
  top: 30%;
  transform-origin: 75% 50%;
  &.active {
    transition: all 0.3s;
    transform: scale(3);
    z-index: 1000;
  }
}
.hexagon_japan::before {
  display: block;
  padding-top: 86.602540378%;
  content: "";
}
.hexagon_canada {
  position: absolute;
  width: 15%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 75% 50%;
  top: 63%;
  &.active {
    transition: all 0.3s;
    transform: scale(3);
    z-index: 1000;
  }
}
.hexagon_canada::before {
  display: block;
  padding-top: 86.602540378%;
  content: "";
}
.hexagon_code {
  position: absolute;
  width: 15%;
  overflow: hidden;
  left: 38%;
  transform: translate(-50%, 0);
  transform-origin: 75% 50%;
  top: 14%;
  &.active {
    transition: all 0.3s;
    transform: scale(3);
    z-index: 1000;
  }
}
.hexagon_code::before {
  display: block;
  padding-top: 86.602540378%;
  content: "";
}
.hexagon_sport {
  position: absolute;
  width: 15%;
  overflow: hidden;
  left: 38%;
  transform: translate(-50%, 0);
  transform-origin: 75% 50%;
  top: 46%;
  &.active {
    transition: all 0.3s;
    transform: scale(3);
    z-index: 1000;
  }
}
.hexagon_sport::before {
  display: block;
  padding-top: 86.602540378%;
  content: "";
}
.hexagon_work {
  position: absolute;
  width: 15%;
  overflow: hidden;
  left: 62%;
  transform: translate(-50%, 0);
  transform-origin: 75% 50%;
  top: 14%;
  &.active {
    transition: all 0.3s;
    transform: scale(3);
    z-index: 1000;
  }
}
.hexagon_work::before {
  display: block;
  padding-top: 86.602540378%;
  content: "";
}
.hexagon_phillipine {
  position: absolute;
  width: 15%;
  overflow: hidden;
  left: 62%;
  transform: translate(-50%, 0);
  transform-origin: 75% 50%;
  top: 46%;
  &.active {
    transition: all 0.3s;
    transform: scale(3);
    z-index: 1000;
  }
}
.hexagon_phillipine::before {
  display: block;
  padding-top: 86.602540378%;
  content: "";
}
.hexagon__inner-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(60deg);
}
.hexagon__inner-2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(60deg);
}
.hexagon__inner-3 {
  width: 100%;
  height: 100%;
  transform: rotate(-120deg);
}
.hexagon_base {
  width: 100%;
  height: 100%;
}
.hexagon__inner-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.univ {
  background: url(imgs/univ_photo.jpeg) center / cover no-repeat;
}
.japan {
  background: url(imgs/Japan_photo.jpeg) center / cover no-repeat;
}
.canada {
  background: url(imgs/Photo_canada.jpg) center / cover no-repeat;
}
.code {
  background: url(imgs/coding.jpg) center / cover no-repeat;
}
.sport {
  background: url(imgs/spot.jpg) center / cover no-repeat;
}
.work {
  background: url(imgs/Photo_work.jpg) center / cover no-repeat;
}
.phillipine {
  background: url(imgs/Photo_phillipine.jpg) center / cover no-repeat;
}
///////////////////hexagons-end//////////

#bottom {
  position: relative;
  color: white;
  .footer_background {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .fas {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 9vh;
    font-size: 3rem;
  }
  small {
    position: absolute;
    font-size: 1rem;
    bottom: 0;
    padding-bottom: 2vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/////////////////Contact///////////////////
header {
  height: 20vh;
  display: flex;
  .header_background {
    display: inline-block;
    position: relative;
    padding: 0;
    overflow: hidden;
    .name {
      position: absolute;
      display: inline-block;
      line-height: 20vh;
      font-size: 1.8rem;
      padding-left: 20vh;
      left: 0;
      a {
        text-decoration: none;
        color: white;
        vertical-align: middle;
        position: relative;
      }
      a::after {
        position: absolute;
        bottom: 1px;
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background: white;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
      }
      a:hover::after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

#lets {
  height: 60vh;
  background-color: white;
  color: #222222;
  display: flex;
  .wrap {
    margin: auto;
    text-align: center;
    .far {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    h1 {
      font-size: 1.5rem;
    }
    p {
      width: 40%;
      margin: auto;
      line-height: 1.8rem;
      color: #8d8d8d;
      padding-top: 2rem;
      font-size: 1rem;
    }
  }
}

#contact {
  height: 100vh;
  background-color: #f0f2f2;
}

#contact-bottom {
  height: 20vh;
  color: white;
  display: flex;
  position: relative;
  overflow: hidden;
  .footer_background {
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .fas {
    font-size: 3rem;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  small {
    bottom: 0;
    position: absolute;
    padding-bottom: 1.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/////////////////contact_end//////////////

///////////////////////////page_dependent/////////
.index-page {
  header {
    height: 0;
  }
}
