html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
  font-family: serif;
}

.top {
  width: 100%;
  height: 100vh;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .title {
  text-align: center;
}

.top .title h1 {
  font-size: 42px;
  line-height: 1.2em;
  letter-spacing: 4px;
  font-weight: 600;
}

.top .title .sub_title {
  display: block;
  opacity: 0;
  -webkit-animation: anime1 1.5s ease;
          animation: anime1 1.5s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top .title .sub_title h2 {
  font-size: 16px;
  letter-spacing: 2px;
  padding: 0.6rem;
  color: #a8813f;
}

@-webkit-keyframes anime1 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes anime1 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.top .title hr {
  width: 15%;
  display: block;
  opacity: 0;
  border: solid 1px #a8813f;
  -webkit-animation: anime2 1.5s ease;
          animation: anime2 1.5s ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes anime2 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes anime2 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.top .title .btn-contact {
  opacity: 0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7vh;
  -webkit-animation: anime3 1.5s ease;
          animation: anime3 1.5s ease;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top .title .btn-contact a {
  margin: auto;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3vh 4vw;
}

.top .title .btn-contact a:hover {
  border: 1px solid #a8813f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@-webkit-keyframes anime3 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes anime3 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.main {
  width: 100%;
  height: auto;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 31vw 0 31vw 0;
  margin: -31vw 0 -31vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: right 2% top 0;
}

.main .section_container section {
  height: 70vh;
}

.main .section_container section .flex__item {
  background-color: white;
  width: 50%;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .section_container section .flex__item .flex__item__img {
  background: url(imgs/Photo_work.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
}

.main .section_container section .flex__item .info_container {
  margin: 0 auto;
  width: 80%;
}

.main .section_container section .flex__item .info_container .info_title {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #a8813f;
}

.main .section_container section .flex__item .info_container .info_sub {
  width: 100%;
  font-weight: bolder;
  font-size: 2rem;
  padding-top: 30px;
}

.main .section_container section .flex__item .info_container p {
  width: 100%;
  color: #acacac;
  font-size: 1.1rem;
  padding-top: 30px;
  line-height: 1.4rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3vw 5vw 3vw 5vw;
  -webkit-animation: flex_anime 0.5s ease;
          animation: flex_anime 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes flex_anime {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes flex_anime {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.bottom {
  width: 100%;
  height: 100vh;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.bottom .message {
  font-size: 2rem;
  width: 70%;
  margin: auto;
  color: #a8813f;
}

.bottom .message p {
  line-height: 1.6em;
}

.bottom .message p a {
  color: #a8813f;
}

.bottom .message .name {
  text-align: right;
}

.bottom .message footer {
  width: 100%;
  color: #a8813f;
  bottom: 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bottom .message footer a {
  text-decoration: none;
  color: #a8813f;
}

.bottom .message footer .fas {
  margin-bottom: 9vh;
  font-size: 3rem;
}

.bottom .message footer small {
  font-size: 1rem;
  padding-bottom: 5vh;
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -1vw bottom -20vh;
}

header .name {
  line-height: 20vh;
  font-size: 1.8rem;
  padding-left: 10vw;
}

header .name a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
  position: relative;
}

header .name a::after {
  position: absolute;
  bottom: 1px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #a8813f;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .name a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

#lets {
  height: 60vh;
  background-color: white;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#lets .wrap {
  margin: auto;
  text-align: center;
}

#lets .wrap .far {
  font-size: 3rem;
  padding-bottom: 2rem;
}

#lets .wrap h1 {
  font-size: 1.5rem;
}

#lets .wrap p {
  width: 40%;
  margin: auto;
  line-height: 1.8rem;
  color: #8d8d8d;
  padding-top: 2rem;
  font-size: 1rem;
}

#contact {
  height: 80vh;
  background-color: #f0f2f2;
  color: black;
  width: 100%;
}

#contact .contBox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

#contact .contBox .imgFace {
  margin-right: 5vw;
}

#contact .contBox .imgFace .far {
  font-size: 10em;
}

#contact .contBox .address {
  width: 35%;
}

#contact .contBox .address .margin {
  margin: 1.5vh;
}

#contact .contBox .address dt {
  width: 32%;
  float: left;
}

#contact .contBox .address dt::after {
  content: ":";
}

#contact-bottom {
  width: 100%;
  height: 25vh;
  color: #a8813f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-bottom a {
  text-decoration: none;
  color: #a8813f;
}

#contact-bottom .fas {
  font-size: 3rem;
  margin-bottom: 9vh;
}

#contact-bottom small {
  bottom: 0;
  padding-bottom: 5vh;
}

@media screen and (max-width: 550px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .main .section_container section {
    height: auto;
  }
  .main .section_container section .flex__item {
    width: 100%;
  }
  .main .section_container section .flex__item .flex__item__img {
    width: 100%;
    height: 30vh;
  }
  .main .section_container section .flex__item .info_container {
    height: auto;
  }
  .main .section_container section .flex__item .info_container .info_title {
    padding-top: 3vh;
  }
  .main .section_container section .flex__item .info_container .info_sub {
    padding-top: 3vh;
    font-size: 1.3rem;
  }
  .main .section_container section .flex__item .info_container p {
    padding-top: 3vh;
    font-size: 1rem;
    padding-bottom: 3vh;
  }
  .bottom .message {
    width: 80%;
  }
  .bottom .message p {
    font-size: 1.7rem;
    line-height: 1.9rem;
  }
  .bottom .message .name {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 550px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .name {
    padding-left: 0;
  }
  #lets .wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #lets .wrap .far {
    font-size: 2rem;
  }
  #lets .wrap h1 {
    font-size: 1.3rem;
  }
  #lets .wrap p {
    width: 70%;
    line-height: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */