html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
  font-family: serif;
}

.top {
  width: 100%;
  height: 100vh;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  background-position: left 2% bottom -21%;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    text-align: center;
    h1 {
      font-size: 42px;
      line-height: 1.2em;
      letter-spacing: 4px;
      font-weight: 600;
    }
    .sub_title {
      display: block;
      opacity: 0;
      animation: anime1 1.5s ease;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      position: relative;
      h2 {
        font-size: 16px;
        letter-spacing: 2px;
        padding: 0.6rem;
        color: #a8813f;
      }
    }
    @keyframes anime1 {
      0% {
        opacity: 0;
        top: 30px;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }
    hr {
      width: 15%;
      display: block;
      opacity: 0;
      border: solid 1px #a8813f;
      animation: anime2 1.5s ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      position: relative;
    }
    @keyframes anime2 {
      0% {
        opacity: 0;
        top: 30px;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }
    .btn-contact {
      opacity: 0;
      height: 10vh;
      display: flex;
      margin-top: 7vh;
      animation: anime3 1.5s ease;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
      position: relative;
      a {
        margin: auto;
        color: white;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 5px;
        padding: 3vh 4vw;
        &:hover {
          border: 1px solid #a8813f;
          transition: all 0.5s;
        }
      }
    }
    @keyframes anime3 {
      0% {
        opacity: 0;
        top: 30px;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }
  }
}

.main {
  width: 100%;
  height: auto;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  padding: 31vw 0 31vw 0;
  margin: -31vw 0 -31vw 0;
  display: flex;
  align-items: center;
  background-position: right 5% top 0;
  .section_container {
    section {
      height: 70vh;
      .flex__item {
        background-color: white;
        width: 50%;
        color: #222;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .flex__item__img {
          background: url(imgs/Photo_work.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          background-position: center;
        }
        .info_container {
          margin: 0 auto;
          width: 80%;
          .info_title {
            width: 100%;
            font-size: 1.3rem;
            font-weight: bolder;
            color: #a8813f;
          }
          .info_sub {
            width: 100%;
            font-weight: bolder;
            font-size: 2rem;
            padding-top: 30px;
          }
          p {
            width: 100%;
            color: #acacac;
            font-size: 1.1rem;
            padding-top: 30px;
            line-height: 1.4rem;
          }
        }
      }
    }
  }
}

.flex {
  display: flex;
  padding: 3vw 5vw 3vw 5vw;
}

.fadeIn {
  opacity: 0;
  transform: translate(0, 200px);
  transition: all 0.5s;
}

.fadeIn.scrollIn {
  opacity: 1;
  transform: translate(0, 0);
}

.bottom {
  width: 100%;
  height: 100vh;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  background-position: right 2% top -20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  .message {
    font-size: 2rem;
    width: 70%;
    margin: auto;
    color: #a8813f;
    p {
      line-height: 1.6em;
      a {
        color: #a8813f;
      }
    }
    .name {
      text-align: right;
    }
    footer {
      width: 100%;
      color: #a8813f;
      bottom: 0;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      a {
        text-decoration: none;
        color: #a8813f;
      }
      .fas {
        margin-bottom: 9vh;
        font-size: 3rem;
      }
      small {
        font-size: 1rem;
        padding-bottom: 5vh;
      }
    }
  }
}

/////////////////Contact///////////////////
header {
  height: 20vh;
  display: flex;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  background-position: left 2% bottom 7%;
  .name {
    line-height: 20vh;
    font-size: 1.8rem;
    padding-left: 10vw;
    a {
      text-decoration: none;
      color: white;
      vertical-align: middle;
      position: relative;
    }
    a::after {
      position: absolute;
      bottom: 1px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background: #a8813f;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }
    a:hover::after {
      bottom: -4px;
      opacity: 1;
      visibility: visible;
    }
  }
}

#lets {
  height: 60vh;
  background-color: white;
  color: #222222;
  display: flex;
  .wrap {
    margin: auto;
    text-align: center;
    .far {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    h1 {
      font-size: 1.5rem;
    }
    p {
      width: 40%;
      margin: auto;
      line-height: 1.8rem;
      color: #8d8d8d;
      padding-top: 2rem;
      font-size: 1rem;
    }
  }
}

#contact {
  height: 80vh;
  background-color: #f0f2f2;
  color: black;
  width: 100%;
  .contBox {
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: auto;
    display: flex;
    max-width: 600px;
    .imgFace {
      margin-right: 5vw;
      text-align: center;
      .far {
        font-size: 10em;
      }
    }
    .address {
      min-width: 350px;
      .margin {
        margin: 1.5vh;
      }
      dt {
        width: 32%;
        float: left;
        margin-right: 30px;
      }
      dt::after {
        content: ":";
      }
    }
  }
}

#contact-bottom {
  width: 100%;
  height: 25vh;
  color: #a8813f;
  display: flex;
  background: url(imgs/main_back.png);
  background-repeat: no-repeat;
  background-position: right 2% top 7%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    text-decoration: none;
    color: #a8813f;
  }
  .fas {
    font-size: 3rem;
    margin-bottom: 9vh;
  }
  small {
    bottom: 0;
    padding-bottom: 5vh;
  }
}

/////////////////contact_end//////////////

@media screen and (max-width: 680px) {
  .flex {
    flex-direction: column;
  }
  .reverse {
    flex-flow: column-reverse;
  }
  .main {
    .section_container {
      section {
        height: auto;
        .flex__item {
          width: 100%;
          .flex__item__img {
            width: 100%;
            height: 30vh;
          }
          .info_container {
            height: auto;
            .info_title {
              padding-top: 3vh;
            }
            .info_sub {
              padding-top: 3vh;
              font-size: 1.3rem;
            }
            p {
              padding-top: 3vh;
              font-size: 1rem;
              padding-bottom: 3vh;
            }
          }
        }
      }
    }
  }
  .bottom {
    .message {
      width: 80%;
      p {
        font-size: 1.7rem;
        line-height: 1.9rem;
      }
      .name {
        font-size: 1.7rem;
      }
    }
  }
}
/////////////////contact_media/////////////

@media screen and (max-width: 680px) {
  header {
    justify-content: center;
    align-items: center;
    .name {
      padding-left: 0;
    }
  }
  #lets {
    .wrap {
      justify-content: center;
      align-items: center;
      .far {
        font-size: 2rem;
      }
      h1 {
        font-size: 1.3rem;
      }
      p {
        width: 70%;
        line-height: 1.5rem;
      }
    }
  }
  #contact {
    .contBox {
      flex-direction: column;
      .imgFace {
        margin: 0;
      }
      .address {
        width: 50%;
      }
    }
  }
}

/////////////////contact_media_end/////////
