html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #222;
  color: #fff;
}

.top {
  width: 100%;
  height: 100vh;
  background: url(imgs/hexagon_main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -262vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .title {
  text-align: center;
}

.top .title h1 {
  font-size: 42px;
  line-height: 1.2em;
  letter-spacing: 4px;
  font-weight: 600;
}

.top .title .sub_title {
  display: block;
  opacity: 0;
  -webkit-animation: anime1 1.5s ease;
          animation: anime1 1.5s ease;
  position: relative;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top .title .sub_title h2 {
  font-size: 16px;
  letter-spacing: 2px;
  padding: 0.6rem;
  color: #a8813f;
}

.top .title .sub_title hr {
  width: 15%;
  display: block;
  border: solid 1px #a8813f;
}

@-webkit-keyframes anime1 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes anime1 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.top .title .btn-contact {
  opacity: 0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7vh;
  position: relative;
  -webkit-animation: anime2 1.5s ease;
          animation: anime2 1.5s ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top .title .btn-contact a {
  margin: auto;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3vh 4vw;
}

.top .title .btn-contact a:hover {
  border: 1px solid #a8813f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@-webkit-keyframes anime2 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes anime2 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.main {
  width: 100%;
}

.main img {
  width: 50%;
}

.main .info {
  background-color: white;
  width: 50%;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .info .info_container {
  margin: 0 auto;
  width: 80%;
}

.main .info .info_container .info_title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #a8813f;
}

.main .info .info_container .info_sub {
  width: 100%;
  font-weight: bolder;
  font-size: 2rem;
  padding-top: 30px;
}

.main .info .info_container p {
  width: 100%;
  color: #acacac;
  font-size: 1rem;
  padding-top: 30px;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 0 10vw 0;
}

.bottom {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom .message {
  font-size: 2rem;
  width: 70%;
  margin: auto;
  color: #a8813f;
}

.bottom .message p {
  line-height: 2.2rem;
}

.bottom .message p a {
  color: #a8813f;
}

footer {
  width: 100%;
  color: #a8813f;
}

footer .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_container a {
  text-decoration: none;
  color: #a8813f;
}

footer .footer_container .fas {
  margin-bottom: 9vh;
  font-size: 3rem;
}

footer .footer_container small {
  font-size: 1rem;
  padding-bottom: 5vh;
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_background {
  display: inline-block;
  position: relative;
  padding: 0;
  overflow: hidden;
}

header .header_background .name {
  position: absolute;
  display: inline-block;
  line-height: 20vh;
  font-size: 1.8rem;
  padding-left: 20vh;
  left: 0;
}

header .header_background .name a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
  position: relative;
}

header .header_background .name a::after {
  position: absolute;
  bottom: 1px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header_background .name a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

#lets {
  height: 60vh;
  background-color: white;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#lets .wrap {
  margin: auto;
  text-align: center;
}

#lets .wrap .far {
  font-size: 3rem;
  padding-bottom: 2rem;
}

#lets .wrap h1 {
  font-size: 1.5rem;
}

#lets .wrap p {
  width: 40%;
  margin: auto;
  line-height: 1.8rem;
  color: #8d8d8d;
  padding-top: 2rem;
  font-size: 1rem;
}

#contact {
  height: 100vh;
  background-color: #f0f2f2;
}

#contact-bottom {
  height: 20vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

#contact-bottom .footer_background {
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

#contact-bottom a {
  text-decoration: none;
  color: white;
}

#contact-bottom .fas {
  font-size: 3rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#contact-bottom small {
  bottom: 0;
  position: absolute;
  padding-bottom: 1.5vh;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */